/*============================
Table 1
============================*/

.table {
	width: 100%;
}

.row {
	height: 40px;
	border-bottom: 1px solid black;
}

/*============================
Table 2
============================*/

.table2 {
	width: 100%;
}

.top-row {
	height: 40px;
}

.t2row {
	height: 40px;
	border-top: 1px solid black;
}


/*============================
Stat Table
============================*/

.stats {
	border-top: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;
}

.stat-col {
	width: 80px;
	padding: 0 0 10px 0;
	text-align: center;
}

.stat-text {
	font-size: 12px;
	color: lightgrey;
}

.number {
	font-size: 2.5em;
	font-weight: bolder;
	padding: 10px 0 0 0;
}


/*============================
Bar Chart
============================*/
.title {
	width: 12%;
	text-align: right;
	padding: 0 3px 0 0;
}
.bar-header {
	width: 100px;
}

.bar-col {
	width: 85%;
	color: #ffffff;
}

.bar-col div {
	background-color: #52A3CC;
	padding: 2.5px 2.5px 2.5px 5px;
	border-radius: 0 5px 5px 0;
}

/*============================
Light box
============================*/
/*.outter_box {
	position: absolute;
	width: 100%;
	height: 100%;
}*/


.black_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(84, 84, 84, .5);
	z-index: 101;
	/*-moz-opacity: 0.8;
	opacity: .80;
	padding: 10px;
	filter: alpha(opacity=60);*/
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	border: 16px solid #ffffff;
	border-radius: 10px;
	background-color: white;
	z-index: 102;
	opacity: 1;
}

.button a {
	width: 80px;
	height: 30px;
	background: #EB7D7D;
	border-radius: 10px;
	float: right;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding-top: 10px;
}

/*============================
Media Block
============================*/

.fb {
	padding-right: 10px;
	float: left;
}

.cupcake {
	overflow: hidden;
}





















